<%= form_with(model: [:user, post], local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tag_list %>
    <%= form.text_field :tag_list, id: :tag_list %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <% if @post.image != nil %>
      <%= form.label :current_image %>
      <%= image_tag(@post.image, style: "max-height: 50vw") %>
      <br>
    <% end %>
    <%= form.hidden_field :image_cache %>
    <%= form.label :image %>
    <%= form.file_field :image, id: :post_image %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :post_text, class: :tinymce %>
    <%= tinymce %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
