<p id="notice"><%= notice %></p>

<h1>Profile</h1>
<p><b>Id:</b> <%= current_user.id %></p>
<p><b>Full name</b>: <%= current_user.full_name %></p>
<p><b>Email:</b> <%= current_user.email %></p>
<p><b>Bio:</b> <%= current_user.bio %></p>

<%= link_to 'Edit profile', edit_user_registration_path %>

<hr>

<h1>My Posts</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Text</th>
      <th>Image</th>
      <th>Tags</th>
      <th>Writer</th>
      <th><%= sortable "created_at" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= sanitize post.text %></td>
        <td><%= image_tag post.image_url, width: 80 if post.image.presence %></td>
        <td><%= sanitize post.tags.map { |t| link_to t, tag_posts_path(t) }.join(', ') %></td>
        <td><%= post.user.full_name if post.user.presence %></td>
        <td><%= post.created_at.strftime("%d-%m-%Y %R") %></td>
        <td><%= link_to 'Show', user_post_path(post) %></td>
        <td><%= link_to 'Edit', edit_user_post_path(post) %></td>
        <td><%= link_to 'Destroy', user_post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>

<br>

<%= link_to 'New Post', new_user_post_path %>
