<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Text</th>
      <th>Image</th>
      <th>Tags</th>
      <th>Writer</th>
      <th><%= sortable "created_at" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= sanitize post.text %></td>
        <td><%= image_tag post.image_url, width: 80 if post.image.presence %></td>
        <td><%= sanitize post.tags.map { |t| link_to t, tag_posts_path(t) }.join(', ') %></td>
        <td><%= post.user.full_name %></td>
        <td><%= post.created_at.strftime("%d-%m-%Y %R") %></td>
        <td><%= link_to 'Show', post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_user_post_path %>
<% end %>
