<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @post.id %>
</p>

<p>
  <strong>Writer: </strong>
  <%= @post.user.full_name if @post.user.presence %>
<p>

<p>
  <strong>Tags:</strong>
  <%= @post.tag_list %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= sanitize @post.text %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@post.image, style: "max-height: 50vw") %>
</p>

<%= link_to 'Back', posts_path %>
