<div id="container">
    <div id="user_nav">
        <%= link_to 'Home', posts_path %> |
        <% if user_signed_in? %>
            <strong>
                <%= sanitize link_to current_user.full_name, user_posts_path %> |
            </strong>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to 'Sign up', new_user_registration_path %> |
            <%= link_to 'Login', new_user_session_path %>
        <% end %>
    </div>
</div>